:root {
    --scroll-percentage: 0%;
    --max-width:800px;

    --color-background : white;
    /*--color-font: #333333;
    --color-font: rgb(27, 27, 27);
    */


    /* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
    --red: 255;
    --green: 255;
    --blue: 255;

    --aa-brightness: calc((
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)
    ) / 1000);

    --aa-brightness: calc((
        (var(--red) * 299) +
        (var(--green) * 587) +
        (var(--blue) * 114)
    ) / 1000);

    --color-background : rgb(var(--red), var(--green), var(--blue));

    --aa-color: calc((var(--aa-brightness) - 128) * -1000);
    background: var(--color-background);
    --color-font: rgb(var(--aa-color), var(--aa-color), var(--aa-color));
}



body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;

    /*line-height: 1.6;*/
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
    text-rendering: optimizeLegibility;
    color: var(--color-font);
}

@media (max-width: 390px) {
    :root {
        --max-width:360px;
    }

    body {
        font-size: 16px;
        line-height: 24px;
        padding: 15px;
        width: 90%;
        background-color: var(--color-background);
    }
}

 h1 {
    font-size: 2.5em;
    line-height: calc(1ex / 0.42);

}

 h2 {
    font-size: 2em;
    line-height: calc(1ex / 0.42);
    
}

 h3 {
    font-size: 1.75em;
    line-height: calc(1ex / 0.38);
   
}

 h4 {
    font-size: 1.5em;
    line-height: calc(1ex / 0.37);
   
}

h5 {
    font-size: 0.9em;
 
    font-style: italic;
}

h6 {
    font-size: 0.9em;
    margin: calc(1ex / 0.8) 0;

    /*margin-bottom: 20px;*/
}

p {
    margin: calc(1ex / 0.32) 0;
    width: 70ch;
    max-width: 100%;
    text-align: justify;
    hyphens: auto;
}

p,
p * {
    /*https://www.smashingmagazine.com/2020/07/css-techniques-legibility/*/
    line-height: calc(1ex / 0.32);
    font-size: 1em;
}

.caps {
    text-transform: uppercase;
}

a {
    color: rgb(65, 110, 210);
}

p a {
    text-decoration: none;
}

/*
    this is for section titles in article. Use negative margin so to tweak the spacing
    to bring it closer to the section its associated with. Otherwise the margin on that P
    pushes it up

    Basically P that contains an element with class .article_section
*/
p:has(> .article_section) {
    margin-bottom: -25px;
}

.article_section {
    font-weight: bold;
}

#section_blurb {
    color: var(--color-font);
}

.parsed_image {
    max-width: 100%; /* Image will not be wider than its container */
    height: auto;
}

#data_image {
    max-width: 80%;
    padding: 4px;
}

#cover_image {
    max-width: 40%;
    padding: 4px;
}

figcaption:not([class]) {
    display: none;
}

audio {
    display: none;
}

.section-list a {
    color: inherit;
    /* Inherits the color from the parent element */
    text-decoration: none;
    /* Removes the underline */
    font: inherit;
    /* Inherits font properties from the parent element */
}

figure {
    margin:0px;
}

.section-list a:visited {
    color: #AAAAAA;
}

#top_spacer{
    height: 20px;
}

.section_title {
    color: #b30000;
}

.top {
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    width:90%;
    max-width: var(--max-width);
    padding-top: 2px;
}

#progress_bar {
    width:var(--scroll-percentage);
    height:100%;
    background-color: #a0a0a0;
}

#progress_container {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
}

.footer, .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    gap: 10px;
}

.footer_right {
    display: flex;
    align-items: end;
    text-align: right;
}