:root {
    --scroll-percentage: 0%;
    --color-background : white;
    --max-width:800px;
}

body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;

    /*line-height: 1.6;*/
    max-width: var(--max-width);
    margin: auto;
    padding: 20px;
    text-rendering: optimizeLegibility;
    color: #333333;
}

@media (max-width: 390px) {
    body {
        font-size: 16px;
        line-height: 24px;
        padding: 15px;
        width:90%;
        background-color: var(--color-background);
    }
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 1.05em;
}

h4, h5, h6 {
    font-size: 1em;
    margin: 1em 0;
}


h6 {
    font-size: 0.8em;
    /*margin-bottom: 20px;*/
}


p {
    margin-bottom: 20px;
}

figcaption:not([class]) {
    display: none;
}

audio {
    display: none;
}

.section-list a {
    color: inherit;
    /* Inherits the color from the parent element */
    text-decoration: none;
    /* Removes the underline */
    font: inherit;
    /* Inherits font properties from the parent element */
}

figure {
    margin:0px;
}

.ed4dtdz0 {
    display: none;
}

.section-list a:visited {
    color: #AAAAAA;
}

#top_spacer{
    height: 20px;
}

.section_title {
    color: #b30000;
}

.top {
    position: fixed;
    top: 0;
    background-color: var(--color-background);
    width:90%;
    max-width: var(--max-width);
    padding-top: 2px;
}

#progress_bar {
    width:var(--scroll-percentage);
    height:100%;
    background-color: #a0a0a0;
}

#progress_container {
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
}

.footer, .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    gap: 10px;
}

.footer_right {
    display: flex;
    align-items: end;
    text-align: right;
}