body {
    font-family: -apple-system, Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-rendering: optimizeLegibility;
    color: #333333;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.section-list a {
    color: inherit;
    /* Inherits the color from the parent element */
    text-decoration: none;
    /* Removes the underline */
    font: inherit;
    /* Inherits font properties from the parent element */
}

.section-list a:visited {
    color: #AAAAAA;
}

.header {
    width: 100%;
    display: flex;
    font-size: small;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    gap: 60px;
}

.footer_right {
    display: flex;
    align-items: end;
    text-align: right;
}