body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;


    /*line-height: 1.6;*/
    margin: 20px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-rendering: optimizeLegibility;
    color: #333333;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 1.05em;
}

h4, h5, h6 {
    font-size: 1em;
    margin: 1em 0;
}

/*
h6 {
    font-size: 2em;
    margin-bottom: 20px;
}
*/

p {
    margin-bottom: 20px;
}

.section-list a {
    color: inherit;
    /* Inherits the color from the parent element */
    text-decoration: none;
    /* Removes the underline */
    font: inherit;
    /* Inherits font properties from the parent element */
}

figure {
    margin:0px;
}

.ed4dtdz0 {
    display: none;
}

.section-list a:visited {
    color: #AAAAAA;
}

.footer, .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    gap: 60px;
}

.footer_right {
    display: flex;
    align-items: end;
    text-align: right;
}